:root {
    --color-nero: #1b1b1b;
    --color-blue-charcoal: #232425;
    --color-gun-powder: #4c4c4e;
    --color-heather: #bbbdbf;
    --color-solitude: #f2f3f5;
    --color-whister: #e5e5e5;
    --color-white: #ffffff;
    --color-red-coral: #fe4040;
    --color-green-accent: #00c46b;
    --color-blue-vivid: #528ece;
    --color-light-grey: #767779;
    --m-x-small: 8px;
    --m-small: 12px;
    --m-default: 16px;
    --m-medium: 24px;
    --m-large: 32px;
    --m-xlarge: 48px;
    --m-desktop: var(--m-xlarge);
    --m-tablet: var(--m-large);
    --m-mobile: var(--m-medium);
    --font-family-default: Ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    --font-size-xx-large: 24px;
    --font-size-x-large: 22px;
    --font-size-large: 20px;
    --font-size-medium: 18px;
    --font-size-default: 16px;
    --font-size-small: 14px;
    --font-size-x-small: 12px;
    --font-size-xx-small: 10px;
    --color-background: var(--color-white);
    --color-bg-secondary: white;
    --color-bg-dark: var(--color-nero);
    --color-text: var(--color-nero);
    --color-theme-text: var(--color-blue-charcoal);
    --color-form-text: var(--color-light-grey);
    --color-theme-matterhorn-white: var(--color-gun-powder);
    --color-theme-matterhorn-light: var(--color-gun-powder);
    --color-theme-matterhorn: var(--color-gun-powder);
    --color-theme-matterhorn-dark: var(--color-gun-powder);
    --color-theme-floral-white: var(--color-solitude);
    --color-theme-floral-lighter: var(--color-solitude);
    --color-theme-floral-dark: var(--color-solitude);
    --color-theme-floral-nero: var(--color-solitude);
    --color-theme-whister: var(--color-whister);
    --color-theme-acccent-bg-dark: #ccf4e2;
    --color-theme-charcoal: var(--color-blue-charcoal);
    --color-theme-charcoal-light: var(--color-blue-charcoal);
    --color-theme-heather: var(--color-heather);
    --color-theme-heather-light: var(--color-heather);
    --color-theme-heather-dark: var(--color-heather);
    --color-theme-white: white;
    --color-theme-white-light: white;
    --color-theme-white-nero: white;
    --desktop-container: 1170px;
    --amp-container: 512px;
    --sidebar-container: 382px;
    --sea: 0;
    --ground: 1;
    --grass: 10;
    --mountain: 20;
    --sky: 50;
    --moon: 100;
}
// end varaibles
.visualMarketBlock {
    margin-top: 40px;
    margin-bottom: 40px
}
.row__container {
    max-width: 1276px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}
.grid {
    display: -ms-grid;
    display: grid;
    grid-column-gap: var(--m-large);
    grid-row-gap: var(--m-large);
    width: 100%;
}
.line_1_1_1 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3,1fr);
}
.newsCell {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.newsCell {
    overflow-wrap: break-word;
    word-wrap: break-word
}

.newsCell__link {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border: none;
    color: currentColor;
    text-decoration: none
}

.newsCell__link::after {
    content: "";
    display: block;
    height: 0;
    width: 100%
}

.newsCell__link:hover .author,.newsCell__link:hover .genre,.newsCell__link:hover .newsCell__title {
    color: var(--color-theme-matterhorn)
}

.newsCell__rubric {
    margin: 0 0 var(--m-x-small);
    font-size: var(--font-size-x-small);
    line-height: 1.2;
    color: var(--color-theme-matterhorn);
    text-transform: uppercase
}

header.newsCell__title {
    position: relative;
    top: 0;
    font-weight: 700;
    letter-spacing: normal;
    background:none!important;
}

.newsCell__title.large {
    font-size: var(--font-size-xx-large);
    line-height: 1.4
}

.newsCell__title.medium {
    font-size: var(--font-size-medium);
    line-height: 1.5
}

.newsCell .details {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: var(--m-x-small);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: var(--color-theme-matterhorn)
}

.newsCell .details .rubric {
    padding-left: 4px;
    text-transform: uppercase
}

.newsCell__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87
}

.newsCell__time {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    color: #767779;
    display: block;
    margin-bottom: 7px;
}
.groupContainer {
    position: relative;
    margin-top: var(--m-default);
    padding-top: var(--m-default);
    border-top: 1px solid var(--color-heather);
    overflow: hidden;
}
.imageWrap {
    position: relative;
    margin-bottom: var(--m-x-small);
    padding-top: calc(100% / 16 * 9);
    background-color: var(--color-theme-floral-dark);
    overflow: hidden
}

.imageWrap .imageCell {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 100%;
    height: 100%
}
.imageCell .image {
    max-width: 100%;
}

.imageWrap.low {
    padding-top: calc(100% / 16 * 7)
}


