header {
    background: linear-gradient(to left, #ffffff 5%, #a6a6a6 30%, #a6a6a6 70%, #ffffff 95%) !important;
}
.news, .best-offer {
    margin: 10px 0;
}
.bg-dark-custom {
    background-color: #232425;
}
#ne-bann-ers .main-img-wrapper .left {
    height: 300px;
}
#ne-bann-ers .main-img-wrapper .right {
    height: 300px;
}
#ne-bann-ers .main-img-wrapper {
    display: flex;
    justify-content: center;
    //background: linear-gradient(to left, #ffffff 5%, #000000 30%, #000000 70%, #ffffff 95%);
}
#ne-bann-ers .main-img-wrapper img {
    height: 300px;
}
.middle-menu-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.middle-menu-item {
    cursor: pointer;
    height: 75px;
    width: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 26px;
    line-height: 24px;
    color: #2c2c2c;
}
.middle-menu-item:hover{
    color: #05329c;
}
.middle-menu-item img{
    height: 50px;
    width: 50px;
}
.currency .currency-container {
    display: flex;
    justify-content: center;
}
.navbar-brand img {
    max-height: 50px;
}
.currency .currency-container {
    display: flex;
    flex-wrap: wrap;
}
.currency .currency-item {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link:hover {
    color: #38c172 !important;
}
.nav-link {
    color: #bbbdbf !important;
    font-size: 19px;
    font-weight: 400;
}
.nav-link:after {
    display: none !important;
}
.currency .currency-item .name {
    color: #000;
    font-weight: 500;
    padding-right: 5px;
}
.currency .currency-item .value {
    color: rgb(70, 130, 180);
}
.nav {
    justify-content: center;
}
/*.nav-link .active {*/
/*    background-color: #0b0b0b;*/
/*    color: #ffffff;*/
/*}*/
.best-offer .title, .news .title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.best-offer {
    background-color: #a6a6a61c;
}
.best-offer-wrapper {
    padding: 10px;
}
.tab-content-container {
    padding: 10px;
}
.tab-content-item {
    height: 250px;
    width: 165px;
    box-shadow: 0 0 10px #0b0b0b29;
    display: inline-block;
}
footer {
    height: 100px;
    background-color: #2b2b2b;
}
.footer {
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 20px;
    color: $background_text_color;
    background-color: $background_black;
    height: 100%;
    vertical-align:bottom;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.logo-brand {
    color: #bbbdbf !important;
    font-family: "You're Gone", arial;
    font-weight: bold !important;
    font-size: 26px !important;
    line-height: 36px !important;
}
.card-body, .card-header {
    .form-control:focus {
        background-color: #1b1b1b;
        border-color: #38c172;
        box-shadow: none;
    }
    background-color: #232425 !important;
    color: #c0c2cb !important;
    input {
        background-color: #1b1b1b;
        color: #38c172;
    }
    label {
        color: #c0c2cb;
    }
}
.card-header {
    font-size: 26px;
    line-height: 36px;
}
.dropdown-menu {
    background-color: #232425 !important;
    .dropdown-item {
        color: #bbbdbf;
    }
    .dropdown-item:hover, .dropdown-item:focus {
        color: #fff !important;
        background-color: #4c4c4e !important;
    }
}
body.dark-body {
    background-color: #181818;
    .card {
        background-color: inherit;
    }
    .form-control, textarea {
        background-color: #181818;
    }
    input[type=file], input[type=file]:hover {
        background-color: inherit;
        border: none;
    }
    input, textarea, input:focus, textarea:focus {
        color: #c0c2cb;
    }
}
.currency-logo-wrapper {
    a {
        display: inline-block;
        width: 100%;
        img {
            width: 100%;
        }
    }
}
.nav-link:hover + .dropdown-menu{
    display: block;
}
.dropdown-menu:hover {
    display: block;
}
.inputfile:focus {
    border: none;
    outline: none;
}

input[type="file" i]::-webkit-file-upload-button {
    display: inline-block;
    color: #38c172!important;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid #38c172;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
}
